<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form class="auth-form mt-10" (ngSubmit)="login()">
    <div class="auth-header">
      <h1>LiftBig</h1>
      <p>Train like a champion.</p>
    </div>

    <ion-item class="auth-item" lines="none">
      <ion-input
        label="Email"
        labelPlacement="stacked"
        type="email"
        name="email"
        autocomplete="email"
        [(ngModel)]="credentials.email"
        placeholder="email@example.com"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="auth-item" lines="none">
      <ion-input
        label="Password"
        labelPlacement="stacked"
        type="password"
        name="password"
        autocomplete="current-password"
        [(ngModel)]="credentials.password"
        placeholder="Your password"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      class="mt-4"
      [disabled]="!credentials.email || !credentials.password"
    >
      Login
    </ion-button>

    <p class="auth-footer">
      Don't have an account? <a routerLink="/register">Create one</a>
    </p>
  </form>
</ion-content>
