<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>LiftBig</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/dashboard"
              routerDirection="root"
              lines="none"
            >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/workout-logger"
              routerDirection="root"
              lines="none"
            >
              <ion-icon slot="start" name="barbell-outline"></ion-icon>
              <ion-label>New Workout</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/stats" routerDirection="root" lines="none">
              <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
              <ion-label>Past Workouts</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="logout()" lines="none">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
